<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <%= turbo_frame_tag "post_form" do %>
        <%= render "form", post: @post %>
      <% end %>
    </div>
  </div>
</div>
